[Unit]
Description=NewRelic lvm thinpool monitoring
Requires=network-online.target

[Service]
Type=forking
ExecStart=/usr/share/python/newrelic-lvm-plugin/bin/nrlvmd.py start
ExecStop=/usr/share/python/newrelic-lvm-plugin/bin/nrlvmd.py stop

[Install]
WantedBy=multi-user.target
